.pizzaItem {
    display: inline-flex;
    justify-content: space-between;
    font-size: 25px;

    margin-top: 3%;
    align-items: center;
}
.pizzaItemName {
    font-weight: bold;
    min-width: 60%;
    color: white;
    text-shadow:
        0.07em 0 #562D40,
        0 0.07em #562D40,
        -0.07em 0 #562D40,
        0 -0.07em #562D40;
    /* width: max-content; */
}

.pizzaPrice {
    min-width: 20%;
    font-size: 30px;
    color: white;
    text-shadow:
        0.07em 0 #562D40,
        0 0.07em #562D40,
        -0.07em 0 #562D40,
        0 -0.07em #562D40;
}

.orderPizza {
    text-align: center;
    background-color: #562D40;
    border-radius: 1rem;
    text-decoration: none;
    color: white;
    text-shadow:
        0.07em 0 #562D40,
        0 0.07em #562D40,
        -0.07em 0 #562D40,
        0 -0.07em #562D40;

    cursor: pointer;
    transition: 0.4s;
    font-size: 25px;

}

.orderPizza:hover {
    transform: scale(1.2)
    
}

.pizzaIngredients {
    font-weight: normal;
    color: white;
    text-shadow:
        0.07em 0 #562D40,
        0 0.07em #562D40,
        -0.07em 0 #562D40,
        0 -0.07em #562D40;

}